@import url('../fonts/manrope/stylesheet.css');
*,
*:before,
*:after,
*:focus {
	padding: 0;
	margin: 0;
	border:none;
	outline: none;
	box-sizing:border-box;
	color:#2A2A2A;
	line-height: 1.2;
	// font-size: 20px;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// @function vw($value, $base: 1920){
// 	@return $value / $base * 100vw;
// }

	@function vw($value){
		@return $value * 100vw / 1920;
	}


	@function rm($value){
		@return ($value / 16 * 1rem);
	}

.block1 {
	width: 200px;
	height: 100px;
	background-color: #0f0;
	margin-bottom: 20px;
	h2{
		font-size: 20px;
	}
}
.block2 {
	width: vw(200);
	height: 400px;
	background-color: red;
	h2{
		font-size: 1rem;
	}
}
@media (max-width: 991px) {
	.block2{
		width: rm(200);
	}
}

$bb:#1883ff;

body {
	font-family: "manrope",sans-serif;
	position: relative;
}
.lock{
	overflow: hidden;
}
// @include adaptiv-font(90, 36);

.header {
	position: relative;
}
@media (max-width: 991px) {
	.header{
		padding-top: 45px;
	}
}
.header_info {
	padding: 0 vw(20);
}
@media (max-width: 991px) {
	.header_info{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		background-color: #fff;
		padding: 0;
	}
}
.wrap {
	max-width: vw(1640);
	margin: 0 auto;
}
@media (max-width: 991px) {
	.wrap{
		max-width: rm(1640);
		padding: 0 rm(20);
	}
}
.header_info_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #dfdfdf;
	padding-top: vw(22);
	padding-bottom: vw(22);
	position: relative;
}
.header_info_logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header_info_logo_pic {
	width: vw(213);
	margin-right: vw(23);
	img{
		width: 100%;
	}
}
@media (max-width: 991px) {
	.header_info_logo_pic{
		width: rm(150);
		margin: 0;
	}
}
@media (max-width: 575px) {
	.header_info_logo_pic{
		width: rm(95);
		margin: 0;
	}
}
.header_info_logo_text {
	p{
		font-size: vw(11);
		font-weight: 400;
		line-height: vw(20);
		letter-spacing: 0.02em;
		text-align: left;
	}
}
@media (max-width: 991px) {
	.header_info_logo_text{
		display: none;
	}
}
.header_info_adr{
	padding-left: vw(45);
	position: relative;
	&:before{
		position: absolute;
		content: "";
		width: vw(35);
		height: vw(35);
		top: 50%;
		transform:translateY(-50%);
		left: 0;
		background: url("../img/adr.svg")center/cover;
	}
	p{
		font-size: vw(11);
		font-weight: 400;
		line-height: vw(18);
	}
}
@media (max-width: 991px) {
	.header_info_adr{
		margin-bottom: 10px;
		padding-left: 45px;
		&:before{
			width: rm(35);
			height: rm(35);
		}
		p{
			font-size: rm(16);
			line-height: 1.2;

		}
	}
}
.header_info_map {
	padding-left: vw(22);
	position: relative;
	display: flex;
	align-items: center;
	&:hover{
		& .map{
				opacity: 1;
				z-index: 10;
				display: block;
			}
	}
	&:before{
		position: absolute;
		content: "";
		width: vw(12);
		height: vw(15);
		top: 50%;
		transform:translateY(-50%);
		left: 0;
		background: url("../img/geo.svg")center/cover;
	}
	 a{
		font-size: vw(11);
		font-weight: 700;
		line-height: vw(15);
		padding-bottom: vw(4);
		position: relative;
		&:after{
			position: absolute;
			content: "";
			height: vw(2);
			width: 100%;
			bottom: 0;
			left: 0;
			border-bottom: 2px dotted red;
			transition:0.3s;
		}
		&:hover{
			&:after{	
			width: 50%;
			}
		}
		
	}        
}
@media (max-width: 991px) {
	.header_info_map{
		display: none;
	}
}
.map{
	position: absolute;
	top: 100%;
	left: 50%;
	transform:translateX(-50%);
	width: vw(350);
	height: vw(200);
	display: none;
	
}
.header_info_calc {
	&:hover p:after{
			width: 50%;
		}
		display: inline-block;
		position: relative;
		padding-left: vw(36);
		&:before{
			position: absolute;
			content: "";
			width: vw(15);
			height: vw(15);
			top: 50%;
			transform:translateY(-50%);
			left: 0;
			background: url("../img/calc.svg")center/cover;
		}
	p{
		font-size: vw(11);
		font-weight: 700;
		line-height: vw(19);
		letter-spacing: 0.05em;
		padding-bottom: vw(2);
		position: relative;
		&:after{
			position: absolute;
			content: "";
			height: vw(2);
			width: 100%;
			bottom: 0;
			left: 0;
			border-bottom: 2px dotted red;
			transition:0.3s;
		}
	}
}
@media (max-width: 991px) {
	.header_info_calc{
		padding-left: 45px;
		margin-bottom: 10px;
		&:before{
			width: 35px;
			height: 35px;
		}
		p{
			font-size: rm(16);
			line-height: 1.2;
			font-weight: 400;
		}
	}
}
.header_info_ask {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header_info_ask_text {
	p{
		font-size: vw(11);
		font-weight: 400;
		line-height: vw(18);
		letter-spacing: 0.03em;
	}
}
@media (max-width: 991px) {
	.header_info_ask_text{
		margin-bottom: 10px;
		p{
			font-size: rm(16);
			line-height: 1.2;
		}
	}
}
.header_info_ask_soc {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: vw(16);
}
.header_info_ask_soc_item {
	width: vw(35);
	margin-right: vw(6);
	&:last-child{
		margin: 0;
	}
	img{
		width: 100%;
	}
}
@media (max-width: 991px) {
	.header_info_ask_soc_item{
		width: 35px;
		height: 35px;
	}
}
.header_info_callback {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.header_info_callback_text {
	margin-bottom: vw(6);
	p{
		font-size: vw(12);
		font-weight: 400;
		line-height: vw(15);
		letter-spacing: 0.02em;
	}
	position: relative;
	padding-left: vw(10);
	&:before{
		position: absolute;
		content: "";
		width: vw(4);
		height: vw(4);
		top: 50%;
		transform:translateY(-50%);
		left: 0;
		border-radius: 50%;
		background-color: #20C863;
	}
}
@media (max-width: 991px) {
	.header_info_callback_text{
		padding-left: rm(10);
		&:before{
			width: rm(4);
			height: rm(4);
		}
		p{
			font-size: rm(10);
			line-height: 1.2;
		}
	}
}
@media (max-width: 575px) {
	.header_info_callback_text{
		p{
			font-size: rm(6);
		}
	}
}
.header_info_callback_link {
	position: relative;
	padding-right: vw(13);
	&:after{
		position: absolute;
		content: "";
		width: vw(9);
		height: vw(5);
		top: 50%;
		transform:translateY(-50%);
		right: 0;
		background: url("../img/chevron_down.svg");
	}
	a{
		font-size: vw(20);
		font-weight: 700;
		line-height: vw(10);
	}
}
@media (max-width: 991px) {
	.header_info_callback_link{
		margin-bottom: rm(5);
		&:after{
			content: none
		}
		a{
			font-size: rm(12);
			line-height: 1.2;
		}
	}
}
.header_info_callback_popup {
	position: relative;
	padding-right: vw(10);
	&:before{
		position: absolute;
		content: "";
		top: 50%;
		transform:translateY(-50%);
		right: 0;
		width: vw(6);
		height: vw(6);
		background: url("../img/phone.svg");
	}
	p{
		font-size: vw(12);
		font-weight: 400;
		line-height: vw(21);
		letter-spacing: 0.05em;
		cursor: pointer;
		position: relative;
		&:after{
			position: absolute;
			content: "";
			height: vw(2);
			width: 100%;
			bottom: 0;
			left: 0;
			border-bottom: 2px dotted red;
			transition:0.3s;
		}
		&:hover:after{
			width: 50%;
		}
	}
}
@media (max-width: 991px) {
	.header_info_callback_popup{
		padding-right: rm(10);

		&:before{
			width: rm(6);
			height: rm(6);
		}
		p{
			font-size: rm(12);
			padding-bottom: rm(5);
		}
	}
}
@media (max-width: 575px) {
	.header_info_callback_popup{
		p{
			font-size: rm(6);
		}
	}
}
.burger{
	width: 30px;
	height: 30px;
	cursor: pointer;
	display: none;
	position: relative;
	z-index: 2;
	img{
		width: 100%;
		height: 100%;
	}
}
@media (max-width: 991px) {
	.burger{
		display: block;
	}
}
.header_menu {
	padding: vw(23) 0;
	background-color: #fff;
	position: relative;
}
@media (max-width: 991px) {
	.header_menu{
		transition:0.4s;
		opacity: 0;
		height: 0;
		padding: 0;
		position: fixed !important;
		z-index: -1;
		width: 100%;
		&.active{
			opacity: 1;
			height: 100vh;
			padding: 80px 0 20px;
			top: 0px;
			left: 0;
			z-index: 1;
		}
	}
}
.header_menu_wrap{}
@media (max-width: 991px) {
	.header_menu_wrap{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
}
.header_menu_list{
	display: flex;
		justify-content: space-between;
		align-items: center;
}
@media (max-width: 991px) {
	.header_menu_list{
		flex-direction: column;
		margin-bottom: 20px;
		align-items: flex-start;
	}
}
.header_menu_list_item{
	cursor: pointer;
	text-transform: uppercase;
	font-size: vw(12);
	font-weight: 600;
	line-height: vw(16);
	letter-spacing: 0.15em;
	transition:0.3s;
	position: relative;
	// overflow: hidden;
	&:hover{
		color: #cc2922;
		overflow: visible;
		.header_submenu_list{
			opacity: 1;
			height: auto;
			z-index: 1;
		}
	}
}
@media (max-width: 991px) {
	.header_menu_list_item{
		font-size: rm(16);
		line-height: 1.2;
		margin-bottom: 10px;
	}
}
.header_submenu_list{
	// position: absolute;
	position: relative;
	top: 100%;
	left: 0;
	opacity: 0;
	transition:0.9s;
	background-color: #fff;
	padding-left: vw(15);
	height: 0;
	transition:0.3s;
}
.header_submenu_list_item{
	font-size: vw(12);
	font-weight: 600;
	line-height: vw(16);
	letter-spacing: 0.15em;
	list-style: disc;
	transition:0.3s;
	&:hover{
		color: #cc2922;
	}
}

/* ---------------end header--------------- */
    /* ---------------start main--------------- */
.main {
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, 
		rgba(0,0,0,0.7) 100%), url("../img/bg.jpg") center/cover no-repeat;
	position: relative;
}
@media (max-width: 767px) {
	.main{
		padding-bottom: rm(50);
	}
}
.scroll_down {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: vw(140);
	width: 100%;
	transform:rotate(-90deg) translateX(-100%);
	transform-origin: left top;
}
@media (max-width: 991px) {
	.scroll_down{
		display: none;
	}
}
.scroll_down_pic {
	width: vw(30);
	height: vw(18);
	border-radius: vw(20);
	border: 2px solid #aaa;
	margin-right: vw(38);
	position: relative;
	&:before{
		position: absolute;
		content: "";
		width: vw(8);
		height: 2px;
		left: 100%;
		top: 50%;
		transform:translateY(-50%);
		background-color: #aaa;
	}
	span{
		position: absolute;
		width: vw(4);
		height: vw(4);
		border: 2px solid #FD2016;
		top: 50%;
		transform:translateY(-50%);
		left: 0;
		animation: scroll_down 2s ease infinite;
	}
}
@keyframes scroll_down {
	0%{
		left: 0;
	}
	50%{
		left: 80%;
	}
	100%{
		left: 0;
	}
}
.scroll_down_text{
		font-weight: 700;
		font-size: vw(16);
}
.vline {
	width: vw(488);
	height: 2px;
	background-color: #aaa;
	margin-right: vw(38);
}
.main_wrap {
	padding-top: vw(128);
	padding-left: vw(115);
	position: relative;
}
@media (max-width: 991px) {
	.main_wrap{
		padding-left: rm(20);
	}
}
.main_title {
	max-width: vw(1015);
	margin-bottom: vw(45);
}
@media (max-width: 991px) {
	.main_title{
		max-width: rm(440);
		margin-bottom: rm(28);
	}
}
h1{
	font-size: vw(65);
	font-weight: 400;
	line-height: vw(95);
	letter-spacing: 0.02em;
	color:#ffffff;
	strong{
		font-size: vw(65);
		font-weight: 400;
		line-height: vw(95);
		letter-spacing: 0.02em;
		color:#ffffff;
		font-weight: 700;
	}
}
@media (max-width: 991px) {
	h1{
		font-size: rm(30);
		line-height: 1.2;
		strong{
			font-size: rm(30);
			line-height: 1.2;
		}
	}
}
@media (max-width: 575px) {
	h1{
		font-size: rm(20);
		line-height: 1.2;
		strong{
			font-size: rm(20);
			line-height: 1.2;
		}
	}
}
.main_subtitle {
	margin-bottom: vw(45);
	p{
		font-size: vw(27);
		font-weight: 400;
		line-height: vw(45);
		letter-spacing: 0.02em;
		color:#ffffff;
	}
}
@media (max-width: 991px) {
	.main_subtitle{
		margin-bottom: rm(28);
		p{
			font-size: rm(16);
			line-height: 1.2;
		}
	}
}
@media (max-width: 575px) {
	.main_subtitle{
		p{
			font-size: rm(12);
			line-height: 1.2;
		}
	}
}
.main_btns {
	display: flex;
	align-items: center;
	margin-bottom: vw(124);
}
@media (max-width: 575px) {
	.main_btns{
		flex-direction: column;
		align-items: flex-start;
	}
}
.main_btns_btn{
	margin-right: vw(22);
	&:last-child{
		margin: 0;
	}
}
@media (max-width: 991px) {
	.main_btns_btn{
		margin-right: rm(15);
		max-width: rm(275);
		width: 100%;
	}
}
@media (max-width: 575px) {
	.main_btns_btn{
		margin: 0 0 15px;
	}
}
.blick_red{
	position: relative;
	overflow: hidden;
	&:before{
		position: absolute;
		content: "";
		width: vw(20);
		height: 100%;
		top: 0;
		left: vw(-25);
		background: linear-gradient(45deg, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 85%);
		transform:skew(45deg) translateX(-vw(50));
		animation: blick 7s linear 2s infinite;
		z-index: 1;
	}
}
@media (max-width: 991px) {
	.blick_red:before{
		width: rm(15);
		transform:skew(45deg) translateX(-rm(150));
		left: rm(-25);
	}
}
.blick_tr{
	position: relative;
	overflow: hidden;
	&:before{
		position: absolute;
		content: "";
		width: vw(20);
		height: 100%;
		top: 0;
		left: vw(-25);
		background: linear-gradient(45deg, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 85%);
		transform:skew(45deg) translateX(vw(-50));
		animation: blick 8s linear infinite;
		z-index: 1;
	}
}
@media (max-width: 991px) {
	.blick_tr:before{
		width: rm(15);
		transform:skew(45deg) translateX(-rm(150));
		left: rm(-25);
	}
}
@keyframes blick {
	0%{
		transform:skew(45deg) translateX(-vw(50));
	}
	8%{
		transform:skew(45deg) translateX(vw(650));
	}
	100%{
		transform:skew(45deg) translateX(vw(650));
	}
}
@media (max-width: 991px) {
	@keyframes blick {
		0%{
			transform:skew(45deg) translateX(-rm(150));
		}
		8%{
			transform:skew(45deg) translateX(rm(350));
		}
		100%{
			transform:skew(45deg) translateX(rm(350));
		}
	}
}
.btn {
	width: vw(400);
	height: vw(100);
	border-radius: vw(150);
	font-size: vw(16);
	font-weight: 600;
	line-height: vw(24);
	letter-spacing: 0.04em;
	color:#ffffff;
	cursor: pointer;
	font-family: Manrope;
}
@media (max-width: 991px) {
	.btn{
		// max-width: rm(275);
		// width: 275px;
		width: 100%;
		height: rm(60);
		font-size: rm(10);
		line-height: 1.2;
	}
}
.btn_red{
	background-color: #FD2016;
	position: relative;
	text-align: left;
	padding-left: vw(60);
	transition:0.3s;
	&:after{
		position: absolute;
		content: "";
		top: 50%;
		transform:translateY(-50%);
		right: vw(60);
		width: vw(21);
		height: vw(21);
		background: url("../img/arr_right.svg")center/cover;
		transition:0.3s;
	}
	&:hover{
		background-color: #D3221A;
		&:after{
			transform:translateY(-50%) rotate(45deg);
		}
	}
}
@media (max-width: 991px) {
	.btn_red{
		padding-left: 0;
		text-align: center;
		&:after{
			content: none;
		}
	}
}
.btn_tr{
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #FFFFFF;
	padding-left: vw(40);
	position: relative;
	transition:0.3s;
	span{
		font-size: vw(16);
		font-weight: 600;
		line-height: vw(24);
		color:#ffffff;
	}
	&:before{
		position: absolute;
		content: "";
		top: 50%;
		transform:translateY(-50%);
		left: vw(35);
		width: vw(30);
		height: vw(30);
		background: url("../img/whatsapp_btn.svg")center/cover;
	}
	&:hover{
		background-color: rgba(0, 0, 0, 0.7);
	}
}
@media (max-width: 991px) {
	.btn_tr{
		padding-left: 0;
		text-align: center;
		&:before{
			content: none;
		}
		span{
			color:#20C863;
			font-size: rm(10);
		}
	}
}
.main_row {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 991px) {
	.main_row{
		flex-wrap: wrap;
	}
}
@media (max-width: 767px){
	.main_row{
		padding-top: rm(15);
	}
}
.main_card {
	border-right: 1px solid #ffffff;
	padding-right: vw(95);
	padding-left: vw(95);
	padding-bottom: vw(34);
	&:first-child{
		padding-left: 0;
	}
	&:last-child{
		border: none;
		padding-right: 0;
	}
}
@media (max-width: 991px) {
	.main_card{
		flex: 0 0 50%;
		border: none;
		padding: 0;
		margin-bottom: rm(17);
		padding-right: rm(17);
	}
}
.main_card_pic {
	margin-bottom: vw(22);
	width: vw(13);
	img{
		width: 100%;
	}
}
@media (max-width: 991px) {
	.main_card_pic{
		width: rm(13);
		height: rm(9);
		margin-bottom: rm(6);
	}
}
.main_card_text {
	p{
		font-size: vw(17);
		font-weight: 400;
		line-height: vw(27);
		letter-spacing: 0.02em;
		color:#ffffff;
		strong{
			font-size: vw(17);
			font-weight: 700;
			line-height: vw(27);
			letter-spacing: 0.02em;
			color:#ffffff;
		}
	}
}
@media (max-width: 991px) {
	.main_card_text{
		p{
			font-size: rm(14);
			line-height: 1.2;
			strong{
				font-size: rm(14);
				line-height: 1.2;
			}
		}
	}
}
@media (max-width: 767px){
	.main_card_text{
		p{
			color:inherit;
			strong{
				color:inherit;;
			}
		}
	}
}
@media (max-width: 575px) {
	.main_card_text{
		p{
			font-size: rm(10);
			line-height: 1.2;
			strong{
				font-size: rm(10);
				line-height: 1.2;
			}
		}
	}
}
/* --------------header popup------------------ */
.header_popup {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transform:scale(0);
	opacity: 0;
	transition:0.3s;
	padding: rm(20);
	z-index: 2;
	&.active{
		transform:scale(1);
		opacity: 1;
	}
}
.header_popup_wrap {
	max-width: rm(500);
	background-color: #212120;
	padding: rm(45) rm(70);
	position: relative;
}
@media (max-width: 575px) {
	.header_popup_wrap{
		padding: rm(30) rm(20) rm(20);
	}
}
.header_popup_close{
	width: rm(20);
	height: rm(20);
	position: absolute;
	cursor: pointer;
	top: rm(35);
	right: rm(35);
	img{
		width: 100%;
		height: 100%;
	}
}
@media (max-width: 575px) {
	.header_popup_close{
		top: rm(15);
		right: rm(15);
	}
}
.header_popup_title {
	margin-bottom: rm(16);
	p{
		font-size: 32px;
		font-weight: 500;
		line-height: 44px;
		text-align: center;
		color:#ffffff;
	}
}
@media (max-width: 575px) {
	.header_popup_title{
		p{
			font-size: rm(24);
			line-height: 1.3;
		}
	}
}
.header_popup_subtitle {
	margin-bottom: rm(34);
	p{
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
		text-align: center;
		color:#ffffff;
	}
}
@media (max-width: 575px) {
	.header_popup_subtitle{
		p{
			font-size: rm(16);
			line-height: 1.3;
		}
	}
}
.header_form {}
.l_tel{
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	color:#ffffff;
	margin-bottom: rm(12);
	display: block;
}
.tel{
	max-width: rm(363);
	width: 100%;
	height: rm(85);
	background-color: #fff;
	border-radius: 150px;
	font-size: rm(18);
	font-weight: 400;
	line-height: rm(24);
	letter-spacing: 0.04em;
	margin-bottom: rm(25);
	padding: 0 rm(20);
}
@media (max-width: 575px) {
	.tel{
		height: rm(50);
	}
}
.btn_header_popup {
	max-width: rm(363);
	width: 100%;
	height: rm(85);
	background-color: #FD2016;
	border-radius: 150px;
	color:#ffffff;
	font-size: rm(16);
	font-weight: 600;
	line-height: rm(24);
	letter-spacing: 0.04em;
	margin-bottom: rm(25);
}
@media (max-width: 575px) {
	.btn_header_popup{
		height: rm(50);
	}
}
#ppdp{
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.l_chk {
	font-size: rm(14);
	font-weight: 400;
	line-height: 19px;
	color:#ffffff;
	padding-left: rm(35);
	display: block;
	position: relative;
	&:before{
		position: absolute;
		content: "";
		width: rm(20);
		height: rm(20);
		top: 50%;
		transform:translateY(-50%);
		left: 0;
		background-color: #FD2016;
		border-radius: 5px;
	}
	a{
		color:#FD2016;
	}
}
@media (max-width: 575px) {
	.l_chk{
		font-size: rm(8);
		a{
			font-size: rm(8);
		}
	}
}
#ppdp:checked + .l_chk::after{
	position: absolute;
	content: "";
	width: rm(8);
	height: rm(6);
	top: 50%;
	transform:translateY(-50%);
	left: rm(6);
	background: url("../img/chk.svg");
}